BOT_TOKEN=8825612643:AAEFZIAgx1ZQ3sOK-c4jiJpr0azqj1CfGT0
DATABASE_PATH=data/schedule.db
DOWNLOADS_PATH=data/downloads
SCHEDULE_PAGE_URL=https://ptgh.onego.ru/9006/
ADMIN_TELEGRAM_IDS=885499155
CHECK_INTERVAL_MINUTES=30
TIMEZONE=Europe/Moscow
